html {
    scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background-color: #fff;
  word-wrap: break-word;
}

#root, #app{
    height: 100%;
}

textarea {
    overflow-y: auto !important;
    resize: vertical !important;
}

#intro {
    background: url("../img/bg1.jpg") no-repeat center center;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3949ab !important;
    }
}

#intro .h6 {
    font-weight: 300;
    line-height: 1.7;
}

.hm-gradient .full-bg-img {
    background: rgba(42, 27, 161, 0.7);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

/* profile */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2,1.2);
}

/* experience */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li.academy:before {
    border: 3px solid #888888;
}
ul.timeline > li.free:before {
    border: 3px solid #ffa500;
}

/**/
#contact {
    background-image: url('../img/bg4.jpg')
}

/* logo */
i.lg-2 {
    width: 41px;
    height: 48px;
    margin-bottom: -8px;
}

i.lg-1 {
    width: 28px;
    height: 28px;
    margin-bottom: -8px;
    margin-right: 4px;
}

i.lg-debian {
    background: url("../img/logo/debian.svg") round top left;
}

i.lg-centos {
    background: url("../img/logo/centos.svg") round top left;
}

i.lg-docker {
    background: url("../img/logo/docker.svg") round top left;
}

i.lg-mysql {
    background: url("../img/logo/mysql.svg") round top left;
}

i.lg-postgres {
    background: url("../img/logo/postgres.svg") round top left;
}

i.lg-sqlserver {
    width: 42px;
    background: url("../img/logo/sqlserver.svg") round top left;
}

i.lg-mongo {
    width: 62px;
    background: url("../img/logo/mongo.svg") round top left;
}

i.lg-redis {
    background: url("../img/logo/redis.svg") round top left;
}

i.lg-jquery {
    width: 81px;
    background: url("../img/logo/jquery.svg") round top left;
}

i.lg-backbone {
    width: 110px;
    background: url("../img/logo/backbone.svg") round top left;
}

i.lg-vue {
    background: url("../img/logo/vue.svg") round top left;
}

i.lg-jenkins {
    width: 24px;
    background: url("../img/logo/jenkins.svg") round top left;
}

i.lg-hadoop {
    background: url("../img/logo/hadoop.svg") round top left;
}

i.lg-drill {
    width: 74px;
    background: url("../img/logo/drill.svg") round top left;
}

i.lg-aws {
    height: 36px;
    background: url("../img/logo/aws.svg") round top left;
}

i.lg-aws-2 {
    width: 41px;
    background: url("../img/logo/aws.svg") round top left;
}
i.lg-gcp {
    background: url("../img/logo/gcp.svg") round top left;
}

i.lg-cakephp {
    background: url("../img/logo/cakephp.svg") round top left;
}

i.lg-fuelphp {
    width: 22px;
    background: url("../img/logo/fuelphp.svg") round top left;
}

i.lg-codeigniter {
    background: url("../img/logo/codeigniter.svg") round top left;
}

i.lg-django {
    width: 47px;
    background: url("../img/logo/django.svg") round top left;
}

i.lg-rails {
    background: url("../img/logo/rails.svg") round top left;
}

i.lg-php {
    width: 53px;
    background: url("../img/logo/php.svg") round top left;
}

i.lg-python {
    height: 41px;
    background: url("../img/logo/python.svg") round top left;
}
i.lg-python-2 {
    width: 28px;
    background: url("../img/logo/python.svg") round top left;
}

i.lg-ruby {
    width: 23px;
    background: url("../img/logo/ruby.svg") round top left;
}

i.lg-fluentd {
    width: 40px;
    background: url("../img/logo/fluentd.svg") round top left;
}

i.lg-jmeter {
    width: 84px;
    background: url("../img/logo/jmeter.svg") round top left;
}

i.lg-selenium {
    background: url("../img/logo/selenium.svg") round top left;
}

i.lg-jcsqe {
    width: 44px;
    height: 28px;
    background: url("../img/logo/jcsqe.jpg") round top left;
}

